if SHIELD_DISP_ST7789_ADAFRUIT_172X320 || SHIELD_DISP_ST7789_ADAFRUIT_240X240 || SHIELD_DISP_ST7789_WAVESHARE_240X280

if DISPLAY

choice ST7789V_PIXEL_FORMAT
   default ST7789V_RGB565
endchoice

if LVGL

config LV_Z_BITS_PER_PIXEL
   default 16

choice LV_COLOR_DEPTH
   default LV_COLOR_DEPTH_16
endchoice

config LV_COLOR_16_SWAP
   default y

config LV_DPI_DEF
   default 261 if SHIELD_DISP_ST7789_ADAFRUIT_172X320 || SHIELD_DISP_ST7789_ADAFRUIT_240X240
   default 218 if SHIELD_DISP_ST7789_WAVESHARE_240X280

endif # LVGL

endif # DISPLAY

endif # SHIELDS